
<!DOCTYPE html>
<html>
<head>
@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml"; 
}
    <meta charset="utf-8"/>
    <title>Hello</title>
</head>

<body>
   <p> @ViewBag.Name<br/>
       @ViewBag.Location<br/> 
       @ViewBag.Number<br/> 
       @ViewBag.Email <br/> 
   </p>

</body>
</html>