
<!DOCTYPE html>
<html>
<head>
@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml"; 
}
    <meta charset="utf-8"/>
    <title>Hello</title>
</head>

<body>
   <p> @ViewBag.Name</p>
   <p> @ViewBag.Location</p>
   <p> @ViewBag.Number</p>
   <p> @ViewBag.Email</p>
</body>
</html>