
@model ChristmasStore.Models.Shop

@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml"; 
}

 

    <p> @ViewBag.Title </p>

    @{
        ViewData["Title"] = "Details";

    }
<table>
    <thead>
        <tr>
        <th>Item</th>
        <th>Price</th>
             </tr>
    </thead>
<tbody>


@foreach(var s in ViewBag.AllShops)
{
    <tr>
     <td>@s.Item</td>
    <td>@s.Price</td>
    </tr>
    
}
</tbody>
</table>

