<!DOCTYPE html>
<html>
<head>
@{
    Layout = "~/Views/Shared/_myLayoutPage.cshtml"; 
}

    <meta charset="utf-8"/>
    <title>Hello</title>
</head>
<body> 

    <img class ="resize" src="~/images/Merry-Christmas.PNG"/>
   
</body>
</html>