<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    @model CodingDojo.Models.Shop

    <p> @ViewBag.Title </p>

    @{
        ViewData["Title"] = "Details";

    }
</head>
<body>
    <h1> Display</h1>
    <div>
        <h3>Shop</h3>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model  => model.Item))
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Item)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model  => model.Price))
            </dt>
        </dl>
    </div>
</body>
</html>
